## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [41]:
# change working directory
os.chdir('/Users/josecalucag/Desktop/SCS Data Analytics/6. APIs/World_Weather_Analysis/')

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,mataura,NZ,-46.19,168.86,48.99,97,17,5.99,few clouds
1,1,sechura,PE,-5.56,-80.82,74.26,56,33,16.11,scattered clouds
2,2,dikson,RU,73.51,80.55,33.17,91,100,25.52,overcast clouds
3,3,usinsk,RU,65.99,57.53,30.60,96,84,11.23,broken clouds
4,4,jablanica,BA,43.66,17.76,64.40,48,20,2.24,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
pre_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
pre_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
26,26,san quintin,MX,30.48,-115.95,89.82,23,34,8.50,scattered clouds
28,28,nueva gerona,CU,21.88,-82.80,85.95,74,95,18.75,overcast clouds
31,31,bambous virieux,MU,-20.34,57.76,75.00,83,40,8.05,scattered clouds
33,33,san antonio,US,29.42,-98.49,87.01,45,1,3.36,clear sky
34,34,sarangani,PH,5.40,125.46,84.56,74,100,12.03,overcast clouds
35,35,puerto ayora,EC,-0.74,-90.35,77.00,57,49,20.80,scattered clouds
38,38,hilo,US,19.73,-155.09,78.80,54,1,3.36,clear sky
40,40,san ignacio,BZ,17.16,-89.07,84.99,65,40,11.41,scattered clouds
42,42,atuona,PF,-9.80,-139.03,77.54,75,0,18.19,clear sky
48,48,denpasar,ID,-8.65,115.22,80.60,100,40,5.82,scattered clouds

In [6]:
# 4a. Determine if there are any empty rows.
pre_cities_df.count()

City_ID                239
City                   239
Country                237
Lat                    239
Lng                    239
Max Temp               239
Humidity               239
Cloudiness             239
Wind Speed             239
Current Description    239
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = pre_cities_df.dropna()
preferred_cities_df.count()

City_ID                237
City                   237
Country                237
Lat                    237
Lng                    237
Max Temp               237
Humidity               237
Cloudiness             237
Wind Speed             237
Current Description    237
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,san quintin,MX,89.82,scattered clouds,30.48,-115.95,
28,nueva gerona,CU,85.95,overcast clouds,21.88,-82.80,
31,bambous virieux,MU,75.00,scattered clouds,-20.34,57.76,
33,san antonio,US,87.01,clear sky,29.42,-98.49,
34,sarangani,PH,84.56,overcast clouds,5.40,125.46,
35,puerto ayora,EC,77.00,scattered clouds,-0.74,-90.35,
38,hilo,US,78.80,clear sky,19.73,-155.09,
40,san ignacio,BZ,84.99,scattered clouds,17.16,-89.07,
42,atuona,PF,77.54,clear sky,-9.80,-139.03,
48,denpasar,ID,80.60,scattered clouds,-8.65,115.22,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

# 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

# 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,san quintin,MX,89.82,scattered clouds,30.48,-115.95,Old Mill Hotel
28,nueva gerona,CU,85.95,overcast clouds,21.88,-82.80,Casa de la Alegria
31,bambous virieux,MU,75.00,scattered clouds,-20.34,57.76,Casa Tia Villa
33,san antonio,US,87.01,clear sky,29.42,-98.49,Marriott Plaza San Antonio
34,sarangani,PH,84.56,overcast clouds,5.40,125.46,Ballistic Islet
35,puerto ayora,EC,77.00,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
38,hilo,US,78.80,clear sky,19.73,-155.09,Hilo Hawaiian Hotel
40,san ignacio,BZ,84.99,scattered clouds,17.16,-89.07,Rainforest Haven Inn
42,atuona,PF,77.54,clear sky,-9.80,-139.03,Villa Enata
48,denpasar,ID,80.60,scattered clouds,-8.65,115.22,ASTON Denpasar Hotel & Convention Center

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   237
Country                237
Max Temp               237
Current Description    237
Lat                    237
Lng                    237
Hotel Name             237
dtype: int64

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [39]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))